/* Diseño por defecto para pantallas grandes */
body {
    font-size: 16px;
    padding: 20px;
}

/* Para pantallas de hasta 768px (tabletas y teléfonos) */
@media (max-width: 768px) {
    body {
        font-size: 14px;
        padding: 10px;
    }
}

/* Para pantallas más pequeñas de hasta 480px (teléfonos móviles) */
@media (max-width: 480px) {
    body {
        font-size: 12px;
        padding: 500px;
    }
}
.uno{
    width: 100%;
    height: 1000px;
    background-color: aqua;
}
.uno p {
    font-size: 100px;
        color: white;
}
